{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w-full">
    <div class="bg-white rounded-lg shadow-md m-2">
        <div class="p-4">
            <img src="{{book.image.url}}" class="w-64 h-64 mx-auto mb-4" alt="Book Image">
            <h1 class="text-3xl font-bold mb-2">{{book.book_name}}</h1>
            <p class="text-base text-gray-700 mb-4">{{book.content}}</p>
            <p class="text-sm text-gray-600">Writer: {{book.writer.first_name}} {{book.writer.last_name}}</p>
            <div class="mt-2 flex  flex-wrap">
                <p class="text-sm text-gray-600">Category:</p>
                <div class="flex  flex-wrap">
                    {% for cat in book.category.all %}
                    <button class="bg-yellow-500 text-white px-2 py-1 text-sm rounded-lg m-2 cursor-not-allowed" disabled>
                        {{cat.name}}
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card m-2">
    <h5 class="p-3">Total Comments : {{ comments | length }}</h5>
    {% for comment in comments %}
    <div class="border border-gray-300 m-2">
        <div class="p-4">
            <p class="font-bold">{{ comment.name }}</p>
            <p>{{ comment.created_on }}</p>
            <p>{{ comment.body }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card m-2 mb-10 pb-10">
    <div class="card-body">
        <form method="post">
            <h1 class="text-xl font-bold mb-4">Add Comment</h1>
            {% csrf_token %}
            {{ comment_form | crispy }}

            <button type="submit" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Submit
            </button>
        </form>
    </div>
</div>

{% endblock %}